#panels-container {
    height: 100vh;
    width: 100vw;
  }
  
  .panel{
    position: fixed;
    transition: 1s;
    z-index: 12;
  }

  .panel--left { 
    transform: translateX(-100%);
    left: 0;
  }
  
  .panel--right {
    right: 0;
    transform: translateX(100%);

  } 
  
  .panel--right.is-opened {
    transform: translateX(0%);
  }
  
  
  .panel--left.is-opened {
    transform: translateX(0%);
  }
  