ul {
    list-style-type: none;
}

.puce {
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 10;
    width: 20px;
    height: 20px;
    border: 5px solid white;
}

.puce.is-active {
    background: white;
}
.puce.is-activeb {
    background: black;
}
.contpuces.is-black .puce {
    border: 5px solid black;
}

.puce1 {
    position: fixed;
    right: 95%;
    top: 20%;
}

.puce2 {
    position: fixed;
    right: 95%;
    top: 30%;
}

.puce3 {
    position: fixed;
    right: 95%;
    top: 40%;
}

.puce4 {
    position: fixed;
    right: 95%;
    top: 50%;
}

.puce5 {
    position: fixed;
    right: 95%;
    top: 60%;
}

.puce6 {
    position: fixed;
    right: 95%;
    top: 70%;
}

.puce7 {
    position: fixed;
    right: 95%;
    top: 80%;
}

/*
Fait disparaitre la scrollbar
 */

::-webkit-scrollbar {
    display: none;
}

/* le déplacement  */

html {
    scroll-behavior: smooth;
}