




body {
    background-image: url("../img-logo/background-flatter.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Montserrat;
    font-size: 45px;
    color: #fff;

}

h2 {
    font-family: Montserrat;
    font-size: 35px;
    color: #fff;

}

h3 {
    font-family: Montserrat;
    font-size: 25px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 100px;
    line-height: 45px;

}

p {
    font-family: Domine;
    font-size: 15px;
    color: #fff;
    display: center;
    

}
.header {
    padding-top: 20px;
    background-color : #9c0a07;
}
.rightText {
    margin-bottom: 100px;
    line-height: 45px;
    

}


.cinemaLateral{
    width: 40%; 
    height: 1500px; 
    display: block;
    margin-left: auto; 
    margin-right: 0; 
    object-fit: none;
    
}

.photoDeProfil{
    border-radius: 100%;
    width:55%;
    ;
}

.maps{
    border:0; 
    width:100%; 
    height:100vh;
}


.team {
    display : flex;
    padding-right: 210px;
}
.logo{
    width:100%;
    max-width:50px;
}
span.blockservice{
    display: flex;
    position: relative;
    width: 155px;
    height: 155px;
    background-color: #fff5d6; 
}


.container-cinema {
    padding-left: 50px;
}

.distantuno {
    margin-left: 149px;
    margin-top: 50px ;
    margin-bottom: 100px ;
    
}
.distantdos {
    margin-left: 248px;
    margin-top: 50px ;
    margin-bottom: 25px ;
    
}
.BS {
    font-family: Domine;
    color : black;
}
.arière1{
    margin-left: 248px;
    max-width: 281px ;
}


.minLink {
    padding-left: 1100px;
}

.big {
    margin-left: 149px;
    margin-top: 50px ;
    margin-bottom: 50px
}
img {
    display: block;
     margin-left: auto;
     margin-right: auto;
    margin-bottom: 50px
}