


#bar {
    background-image: url("../img-logo/Header.png") ;
    background-repeat: no-repeat;
    background-size: 100%   ;
    
}
#bar2 {
    padding-top: 10px;
    background-color: #810000;
    
}


body {
    background-image: url("../img-logo/background-flatter.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
    
}

h1 {
    font-family: domine;
    font-size: 45px;
    color: #fff;

}

h2 {
    font-family: domine;
    font-size: 35px;
    font-weight: bold;
    

}

h3 {
    font-family: domine;
    font-size: 25px;
    
    margin-top: 50px;
    margin-bottom: 100px;
    line-height: 45px;

}

p {
    font-family: Domine;
    font-size: 15px;
    display: center;
    

}

.rightText {
    margin-bottom: 100px;
    line-height: 45px;
    color: white;

}
.rightTextSec {
    margin-bottom: 100px;
    line-height: 45px;
    color: black;

}



.photoDeProfil{
    border-radius: 100%;
    width:55%;
    ;
}

.maps{
    border:0; 
    width:91%; 
    height:100vh;
}


.team {
    display : flex;
    padding-left: 13.27%;
    padding-right: 13.27%;
    
}

.logo{
    width:100%;
    max-width:3.16%;
}
span.blockservice{
    display: flex;
    position: relative;
    width: 9.8%;
    height: 155px;
    background-color: #fff5d6; 
}


.container-cinema {
    padding-left: 3.16%;
    background-color : white;
    
}

.distantuno {
    margin-left: 9.41%;
    margin-top: 50px ;
    margin-bottom: 100px ;
    
}
.distantdos {
    margin-left: 15.67%;
    margin-top: 50px ;
    margin-bottom: 25px ;
    
}
.uno {
    margin-left: 9.41%;
    
    
}
.dos {
    margin-left: 15.67%;
    
    
}
.BS {
    font-family: Domine;
    color : black;
    font-weight: bold;
}


.arière1{
    margin-left: 15.67%;
    max-width: 17.75% ;
}


.minLink {
    padding-left: 69.49%;
    color : #FFF;
    margin-bottom: 30px;
    text-decoration: underline;
}

.big {
    margin-left: 9.41%;
    margin-top: 50px ;
    margin-bottom: 50px
}

.tall {
    margin-left: 9.41%;
    margin-top: 50px ;
    margin-bottom: 50px
}
.entitle {
    height: 60vh; text-align: center;padding-top: 5%;
    color : #FFF;
}
.sectitle {
    height: 50vh; text-align: center; padding-top: 5%;
}
#ecran1, #ecran2, #ecran3, #ecran5, footer, .team, .teamso {
    color : #FFF;

}

.suit {
    color: #fff
}

.serv {
    height: 100vh; background: url('./img-logo/service_bg.png') no-repeat;
    background-size: 100%;
}

.logo{
    max-width: 30%;
    margin-top : -10%;
    margin-bottom: 30%;
    margin-right: 50%;
    margin-left: 12.5%;
}
.teamso{
        background-image: url(../img-logo/team_bg.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
}
.right-color {
    color: white;
}

.last-row{
    margin-bottom: 30px;
}
